.areapage {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}
.searcharea {
  border: 1px solid black;
}

.mapsearch {
  background-color: white;
  z-index: 3;
  width: 300px;
  padding: 10px;
}

.map {
  width: calc(100% - 300px);
}

.wrap {
  background-color: white;
  width: 300px;
  height: 130px;
}
