.areapage {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}
.searcharea {
  border: 1px solid black;
}

.mapsearch {
  background-color: white;
  z-index: 3;
  width: 300px;
  padding: 10px;
  overflow-y: scroll;
}

.map {
  width: calc(100% - 300px);
}
.tourlisttext {
  margin-top: 10px;
  margin-left: 5px;
}
.tourlisttext2 {
  text-decoration-line: underline;
  text-decoration-color: skyblue;
  text-decoration-thickness: 4px;
}

.areawrap {
  background-color: white;

  border-radius: 6px;
  border: 1px silver solid;
}

.areatitlebox {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  background-color: skyblue;
}
.areaclose {
}
.areabody {
  padding: 7px;
}

.toursearchlist {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
}
