.container {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  padding: 40px 50px;
}

.title {
  font-family: 'Happiness-Sans-Title';
  font-size: 30px;
  padding-bottom: 20px;
}

.explain {
  color: #727272;
  font-size: 15px;
}

.content {
  display: flex;
  padding: 12px 0;
}

.subtitle {
  width: 20%;
  font-size: 19px;
  font-weight: 600;
}

.input {
  border: 1px solid #c0c0c0;
  background-color: #f9f9f9;
  font-size: 17px;
  padding: 3px 10px;
  border-radius: 5px;
  width: 80%;
}

.input:focus {
  outline: 2px solid #50abf2;
  border-color: #ffffff;
}

.textarea {
  border: 1px solid #c0c0c0;
  background-color: #f9f9f9;
  font-size: 17px;
  padding: 3px 5px;
  border-radius: 5px;
  width: 80%;
  height: 140px;
  padding: 5px 10px;
  outline-color: #50abf2;
}

.textarea:focus {
  border-color: 1px solid #50abf2;
}

.price {
  text-align: right;
  border: 1px solid #c0c0c0;
  background-color: #f9f9f9;
  font-size: 17px;
  padding: 3px 10px;
  border-radius: 5px;
}

.price:focus {
  outline: 2px solid #50abf2;
  border-color: #ffffff;
}

.add {
  background-color: #c1c1c1;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  margin-left: 13px;

  &:hover {
    background-color: #9a9a9a;
  }
}

.location {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.submit {
  margin-top: 60px;
  background-color: #12aaff;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  font-size: 18px;

  &:hover {
    background-color: #129eed;
  }
}

.flex {
  display: flex;
  justify-content: center;
}

.parentContainer {
  display: flex;
  align-items: center;
}

.postTitle {
  font-family: 'Happiness-Sans-Title';
  font-size: 30px;
  margin-left: 20px;
}

.postInfo {
  padding: 10px 30px 0 37px;
  color: #acacac;
}

.infoLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 16px;
  margin-right: 5px;
}

.postBtn:hover {
  text-decoration: underline;
}

.chatBtn {
  background-color: #12aaff;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 17px;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #0791df;
  }
}

.completeBtn {
  background-color: #c5c5c5;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

.status {
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 0.8rem;
}

.categoryContainer {
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  margin: 0;
  padding: 10px;
}

.category {
  display: flex;
  justify-content: center;
  margin: 7px 0 5px 20px;
}

.categoryTitle {
  /* font-family: 'Happiness-Sans-Title'; */
  font-size: 17px;
  color: #878787;
  width: 20%;
  font-size: 19px;
}

.categoryContent {
  width: 80%;
  font-size: 17px;
  white-space: pre-line;
}
