.webNav {
  box-sizing: border-box;
  padding: 10px 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.navLogoImage {
  width: 12vw;
  padding: 0;
  margin: 0;
}

.pageLink > a {
  font-size: 0.7vmax;
}

.appNav {
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: transparent;
  position: absolute;
  top: 0;
  color: #ffffff;
}

.notMain {
  position: absolute;
  top: 0;
}
