.webNav {
  margin: 0;
  box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100%;
  word-break: keep-all;
  min-width: 538px;
}

.navLogoImage {
  width: 10vw;
  padding: 0;
  margin: 0;
  min-width: 100px;
}

.pageLink {
  min-width: 500px;
}

.pageLink > a {
  font-weight: 700;
  font-size: 16px;
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  color: black;
}
.pageLink > a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.navRight > a {
  font-weight: 700;
  font-size: 16px;
  padding: 5px 7px 5px 7px;
  border-radius: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
.navRight > a:hover {
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
}
.mainright > a {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 7px 5px 7px;
  border-radius: 20px;
  color: white;
}
.mainright > a:hover {
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
}

.appNav {
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: transparent;
  position: absolute;
  top: 0;
  color: #ffffff;
}

.notMain {
  position: absolute;
  top: 0;
}

/* .navRight {
  background-color: white;
  padding: 4px;

} */
