.container {
  height: calc(100% - 100px);
  width: 1060px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10%;
}

.inputBox {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
