.guideBox {
  border: 1px solid silver;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  height: 130px;
  word-break: keep-all;
  min-width: 200px;
  border-radius: 8px 8px 8px 0;
}

.guideBox:hover {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  bottom: 2px;
  right: 2px;
}
