.howmanydaysbox {
  width: 800px;
}

FormGroup {
  display: flex;
}

.topdiv {
  position: absolute;
  top: -40%;
  /* left: -10%; */
  font-size: 90px;
  font-weight: bold;
}

.topcard {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding-top: 20px;
}

.cardovertext {
  position: absolute;
  top: 68%;
  left: 10%;
  bottom: 50px;
  font-size: 50px;
  font-weight: bold;
  zindex: 2;
}

.selectedtheme {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  margin: 100px 0px 30px;
}
.themes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tourtheme {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b7b7ba;
  border-radius: 18px;
  width: 13%;
  height: 60px;
  padding: 2px;
  font-size: 25px;
}

.selected {
  background-color: #0052b4;
  color: white;
  font-weight: bold;
}

.listItems {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  padding: 2%;
  display: flex;
}

.itemImg {
  width: 50%;
}

.itemDetail {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: 18px;
}
