.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Pretendard-Regular';
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container {
  /* width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column; */

  width: 1000px;
  margin: 0 auto;
  font-family: 'Pretendard-Regular';
}

.font-Happiness {
  font-family: 'Happiness-Sans-Title';
}

.color {
  font-family: 'Happiness-Sans-Title';
  color: #50abf2;
}

.blue-button {
  background-color: #12aaff;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  padding: 5px 10px;

  &:hover {
    background-color: #129eed;
  }
}

.up {
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.center {
  display: flex;
  justify-content: center;
}
